iframe {
    max-width: 100% !important;
    max-height:100% !important;
    width: 100%;
    height: 100%;
}

.chatbot{
    max-height:100% !important;
    height: 100%;
}

.chatbotBox{
    max-height:100% !important;
    height: 80%;
}

.dashboard-bg-box{
 background-color: antiquewhite;
}
